*{
    margin: 0;
    padding: 0;
}

#product, #login, #registrar{
    background: rgba(255, 255, 255, 0.394); 
    backdrop-filter: blur(10px); /* Adjust blur intensity as needed */
    background-size: cover;
}

#cont{
    display: flex;
    color: black;
    font-weight: bolder;
    top: 25%;
    backdrop-filter: blur(5px);
}

#link a:hover{
    color: rgb(68, 68, 68);

}